{% extends 'base.html' %}
{% load static%}
{% block title %}Home{% endblock %}



{% block content %}

  <form  method="get">
    {{product_filter.form.as_p}}
    <input type="submit" name="" value="Submit">
  </form>

  <table>
    <thead>
      <th> Name </th>
      <th> Pric </th>
      <th> Quantity </th>
    </thead>

    <tbody>
      {% for product in product_filter.qs %}
        <tr>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
